@import "@penpot/plugin-styles/styles.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
  margin-top: 1rem;
}

.draggable {
  cursor: ew-resize;
}

.reset-input-container {
  position: relative;
}

.reset-button {
  position: absolute;
  left: 220px;
  bottom: 0;
}

.spacer-8 {
  height: 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-wrapper {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: 1px dashed var(--db-quaternary);
  border-radius: 8px;
  display: grid;
  place-items: center;
  /* overflow: hidden; */
}

.action-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

input {
  min-width: 214px;
}

/* loader styles */

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 100%;
  border-top: 2px solid transparent;

  animation: loading 1s infinite linear;
}

body[data-theme="dark"] .loader {
  border-right: 2px solid var(--df-secondary);
  border-left: 2px solid var(--df-secondary);
  border-bottom: 2px solid var(--df-secondary);
}

body[data-theme="light"] .loader {
  border-right: 2px solid var(--lf-secondary);
  border-left: 2px solid var(--lf-secondary);
  border-bottom: 2px solid var(--lf-secondary);
}

.hide {
  display: none;
}

.center {
  margin: auto;
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
